@media screen and (min-width: 960px) {
  .email-container {
    width: 960px;
    margin: 0 auto;
  }
  .email-container .view-online-row #view-online-td {
    padding: 1% 0 0 1% !important;
  }
  .email-container .title-row #title-row-img {
    height: 8% !important;
  }
  .email-container .menu-row-a {
    font-size: 1.8vw !important;
    padding: 0 4% !important;
  }
  .email-container #home-title {
    font-size: 2vw !important;
    padding: 0.5% 0 !important;
  }
  .email-container .left-sec {
    padding-top: 0 !important;
  }
  .email-container .left-sec #home-left-td {
    padding: 6% 0 0 26% !important;
  }
  .email-container .left-sec #home-left-td h3 {
    font-size: 1.9vw !important;
  }
  .email-container .left-sec #home-left-td h1 {
    font-size: 10vw !important;
    line-height: 1 !important;
  }
  .email-container .left-sec #home-left-td span {
    font-size: 5vw !important;
  }
  .email-container #home-right-td {
    padding-top: 4% !important;
  }
  .email-container #home-right-td #b-code {
    width: 70% !important;
  }
  .email-container #home-right-td #pin-code {
    font-size: 1vw !important;
    padding-top: 0.8% !important;
  }
  .email-container #home-right-td #excludes {
    padding: 8% 0 !important;
    font-size: 1.1vw !important;
    line-height: 1.8;
  }
  .email-container #home-right-td input {
    padding: 6% 10% !important;
    font-size: 1.5vw !important;
  }
  .email-container .home-menu td a img {
    width: 24.6% !important;
  }
  .email-container .home-menu td a .inside-link {
    margin-left: 0.176% !important;
  }
  .email-container .summer-row img {
    width: 100% !important;
    margin-top: -0.4% !important;
  }
  .email-container .appliance-row img {
    width: 100% !important;
  }
  .email-container .backtoschool img {
    width: 100% !important;
  }
  .email-container .tshirts-row img {
    margin-top: !important;
    width: 100% !important;
  }
  .email-container .jeans-row img {
    margin-top: !important;
    width: 100% !important;
  }
  .email-container .kids-row img {
    margin-top: !important;
    width: 100% !important;
  }
  .email-container .shoe-sale1 img {
    margin-top: !important;
    width: 100% !important;
  }
  .email-container .shoe-sale2 img {
    margin-top: !important;
    width: 100% !important;
  }
  .email-container .fine-print img {
    margin: 0 !important;
    width: 100% !important;
  }
  .email-container .luggage-savings-row td {
    width: 100% !important;
  }
  .email-container .luggage-savings-row td #luggage-title {
    font-size: 2vw !important;
    padding: 0.5% 0 !important;
  }
  .email-container .luggage-savings-row td .left-sec {
    width: 55% !important;
  }
  .email-container .luggage-savings-row td .left-sec #luggage-left-td {
    padding: 6% 0 0 26% !important;
  }
  .email-container .luggage-savings-row td .left-sec #luggage-left-td h3 {
    font-size: 1.9vw !important;
  }
  .email-container .luggage-savings-row td .left-sec #luggage-left-td h1 {
    font-size: 10vw !important;
    line-height: 1 !important;
  }
  .email-container .luggage-savings-row td .left-sec #luggage-left-td span {
    font-size: 3vw !important;
  }
  .email-container .luggage-savings-row td .left-sec #luggage-left-td #luggage-promo {
    padding-top: 3% !important;
  }
  .email-container .luggage-savings-row td .right-sec {
    width: 45% !important;
  }
  .email-container .luggage-savings-row td .right-sec #luggage-right-td {
    padding-top: 10% !important;
  }
  .email-container .luggage-savings-row td .right-sec #luggage-right-td #luggage-b-code {
    width: 70% !important;
  }
  .email-container .luggage-savings-row td .right-sec #luggage-right-td #luggage-pin-code {
    font-size: 1vw !important;
    padding-top: 0.8% !important;
  }
  .email-container .luggage-savings-row td .right-sec #luggage-right-td #luggage-excludes {
    padding: 8% 0 !important;
    font-size: 1.1vw !important;
    line-height: 1.8;
  }
  .email-container .luggage-savings-row td .right-sec #luggage-right-td input {
    padding: 6% 10% !important;
    font-size: 1.5vw !important;
  }
  .email-container .amazon-returns td {
    padding-top: 3% !important;
  }
  .email-container .amazon-returns td img {
    width: 100% !important;
  }
  .email-container .app-menu {
    width: 100% !important;
  }
  .email-container .app-menu td {
    width: 25% !important;
  }
  .email-container .app-menu td img {
    width: 100% !important;
  }
  .email-container .social-media td {
    padding: 2% 0 !important;
  }
  .email-container .social-media td a {
    font-size: 3vw !important;
  }
  .email-container .footer td {
    padding-top: 1.5% !important;
    font-size: 0.9vw !important;
  }
}
* {
  margin: 0;
}
* body .email-body .email-container {
  background: white;
}
* body .email-body .email-container .email .view-online-row #view-online-td {
  padding: 0 0 0 0.5%;
}
* body .email-body .email-container .email .view-online-row #view-online-td .view-online-a {
  font-family: sans-serif;
  color: gray;
  font-size: 0.8vw;
  font-weight: 400;
  text-decoration-color: darkslategrey;
}
* body .email-body .email-container .email .view-online-row #view-online-td #vo-span {
  font-size: 0.8vw;
}
* body .email-body .email-container .email .title-row #title-row-td {
  padding-left: 1%;
}
* body .email-body .email-container .email .title-row #title-row-td #title-row-img {
  width: 25%;
}
* body .email-body .email-container .email .menu-row #menu-row-td {
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 0 0 2% 0;
}
* body .email-body .email-container .email .menu-row #menu-row-td .menu-row-a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: grey;
  font-size: 1.5vw;
  font-weight: 400;
  border-right: 1px solid lightgray;
}
* body .email-body .email-container .email .menu-row #menu-row-td #clearance {
  border-right: none;
  color: red;
}
* body .email-body .email-container .email .home-savings-row td {
  padding-top: 1.9%;
}
* body .email-body .email-container .email .home-savings-row td a {
  text-decoration: none;
}
* body .email-body .email-container .email .home-savings-row td a #home-title {
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 1.4vw;
  font-weight: 700;
  background-color: #002f5d;
  padding: 1% 0;
  text-transform: uppercase;
}
* body .email-body .email-container .email .home-savings-row td a .home-container {
  background-color: #d8dbe4;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3%;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .left-sec {
  width: 55%;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .left-sec .left {
  width: 100%;
  margin: 0 auto;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .left-sec .left tr #home-left-td {
  padding: 8% 0 0 20%;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .left-sec .left tr #home-left-td h3 {
  font-family: sans-serif;
  color: #002f5d;
  font-size: 1.5vw;
  font-weight: 900;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .left-sec .left tr #home-left-td h1 {
  font-family: sans-serif;
  color: #002f5d;
  font-size: 8vw;
  font-weight: 900;
  line-height: 0.8;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .left-sec .left tr #home-left-td span {
  font-size: 3vw;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .left-sec .left tr #home-left-td #promo {
  color: black;
  padding: 5% 0 0 0;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .right-sec {
  width: 45%;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .right-sec .right {
  width: 80%;
  margin: 0 auto;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .right-sec .right tr #home-right-td {
  padding: 10% 0 0 0;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .right-sec .right tr #home-right-td h6 {
  font-family: sans-serif;
  color: black;
  font-size: 0.8vw;
  font-weight: 900;
  text-transform: uppercase;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .right-sec .right tr #home-right-td #excludes {
  font-family: sans-serif;
  color: black;
  font-size: 0.9vw;
  font-weight: 900;
  padding: 10% 0;
}
* body .email-body .email-container .email .home-savings-row td a .home-container #home-coupon .right-sec .right tr #home-right-td input {
  font-family: sans-serif;
  color: white;
  font-size: 1vw;
  font-weight: 900;
  background-color: #002f5d;
  text-transform: uppercase;
  border: none;
  padding: 6% 12%;
}
* body .email-body .email-container .email .home-menu {
  width: 100%;
  margin: 0 auto;
}
* body .email-body .email-container .email .home-menu td {
  padding: 0.3% 0;
}
* body .email-body .email-container .email .home-menu td a {
  text-decoration: none;
}
* body .email-body .email-container .email .home-menu td a .inside-link {
  margin-left: -0.6%;
}
* body .email-body .email-container .email .summer-row td a {
  text-decoration: none;
}
* body .email-body .email-container .email .appliance-row td a {
  text-decoration: none;
}
* body .email-body .email-container .email .appliance-row td a img {
  margin-top: -1%;
}
* body .email-body .email-container .email .backtoschool td a {
  text-decoration: none;
}
* body .email-body .email-container .email .backtoschool td a img {
  margin-top: -1%;
}
* body .email-body .email-container .email .tshirts-row td a {
  text-decoration: none;
}
* body .email-body .email-container .email .tshirts-row td a img {
  margin-top: -1%;
}
* body .email-body .email-container .email .jeans-row td a {
  text-decoration: none;
}
* body .email-body .email-container .email .jeans-row td a img {
  margin-top: -1%;
}
* body .email-body .email-container .email .kids-row td a {
  text-decoration: none;
}
* body .email-body .email-container .email .kids-row td a img {
  margin-top: -1%;
}
* body .email-body .email-container .email .shoe-sale1 td a {
  text-decoration: none;
}
* body .email-body .email-container .email .shoe-sale1 td a img {
  margin-top: -1%;
}
* body .email-body .email-container .email .shoe-sale2 td a {
  text-decoration: none;
}
* body .email-body .email-container .email .shoe-sale2 td a img {
  margin-top: -1%;
}
* body .email-body .email-container .email .fine-print td a {
  text-decoration: none;
}
* body .email-body .email-container .email .fine-print td a img {
  margin: -1% 0 -2%;
}
* body .email-body .email-container .email .luggage-savings-row td a {
  padding: 1.5% 0 0 0;
  text-decoration: none;
}
* body .email-body .email-container .email .luggage-savings-row td a #luggage-title {
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 1.4vw;
  font-weight: 700;
  background-color: #005552;
  padding: 1% 0;
  text-transform: uppercase;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container {
  background-color: #d2e3d3;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3%;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .left-sec {
  width: 55%;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .left-sec .left {
  width: 100%;
  margin: 0 auto;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .left-sec .left tr #luggage-left-td {
  padding: 8% 0 0 20%;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .left-sec .left tr #luggage-left-td h3 {
  font-family: sans-serif;
  color: #005552;
  font-size: 1.5vw;
  font-weight: 900;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .left-sec .left tr #luggage-left-td h1 {
  font-family: sans-serif;
  color: #005552;
  font-size: 8vw;
  font-weight: 900;
  line-height: 0.8;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .left-sec .left tr #luggage-left-td span {
  font-size: 2vw;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .left-sec .left tr #luggage-left-td #luggage-promo {
  color: black;
  padding: 5% 0 0 0;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .right-sec {
  width: 45%;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .right-sec .right {
  width: 80%;
  margin: 0 auto;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .right-sec .right #luggage-right-td {
  padding: 10% 0 0 0;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .right-sec .right #luggage-right-td #luggage-pin-code {
  font-family: sans-serif;
  color: black;
  font-size: 0.8vw;
  font-weight: 900;
  text-transform: uppercase;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .right-sec .right #luggage-right-td #luggage-excludes {
  font-family: sans-serif;
  color: black;
  font-size: 0.9vw;
  font-weight: 900;
  padding: 7% 0;
  line-height: 2;
}
* body .email-body .email-container .email .luggage-savings-row td a .luggage-container #luggage-coupon .right-sec .right #luggage-right-td input {
  font-family: sans-serif;
  color: white;
  font-size: 1vw;
  font-weight: 900;
  background-color: #005552;
  text-transform: uppercase;
  border: none;
  padding: 6% 12%;
}
* body .email-body .email-container .email .amazon-returns td {
  padding: 4% 0 0 0;
}
* body .email-body .email-container .email .free-shipping td a {
  text-decoration: none;
}
* body .email-body .email-container .email .free-shipping td a img {
  width: 100%;
  margin: 0 auto;
}
* body .email-body .email-container .email .app-row {
  background: #f0f0f0;
}
* body .email-body .email-container .email .social-media {
  background: #f0f0f0;
}
* body .email-body .email-container .email .social-media td {
  padding: 1.5% 0;
  text-align: center;
}
* body .email-body .email-container .email .social-media td a {
  text-decoration: none;
  color: #565656;
  font-size: 2vw;
  padding: 0 3.5%;
}
* body .email-body .email-container .email .app-store td .app-store-container tr td a img {
  width: 100%;
}
* body .email-body .email-container .email .footer td {
  padding: 1% 0;
  font-family: sans-serif;
  color: gray;
  font-size: 0.8vw;
  font-weight: 400;
}
* body .email-body .email-container .email .footer td #details-title {
  font-family: sans-serif;
  color: gray;
  font-size: 0.8vw;
  font-weight: 700;
  padding-left: 1%;
}
* body .email-body .email-container .email .footer td #p1 {
  padding: 4% 0 4% 2%;
}
* body .email-body .email-container .email .footer td #p1 span {
  font-weight: 700;
}
* body .email-body .email-container .email .footer td #p2 {
  padding: 2% 0 3% 2%;
  font-weight: 700;
}
* body .email-body .email-container .email .footer td #p3 {
  padding: 0 0 4% 2%;
}
* body .email-body .email-container .email .footer td #p3 span {
  font-weight: 700;
}
* body .email-body .email-container .email .footer td #p4 {
  padding: 4% 0 4% 2%;
}
* body .email-body .email-container .email .footer td #p4 span {
  font-weight: 700;
}
* body .email-body .email-container .email .footer td #p5 {
  padding: 4% 0 0 2%;
  font-weight: 700;
}
* body .email-body .email-container .email .footer td #p6 {
  padding: 0 0 4% 2%;
}
* body .email-body .email-container .email .footer td #p6 span {
  font-weight: 700;
}
* body .email-body .email-container .email .footer td #p7 {
  padding: 4% 0 7% 2%;
}
* body .email-body .email-container .email .footer td #p7 span {
  font-weight: 700;
}
* body .email-body .email-container .email .footer td #p8 {
  border-top: 1px solid gray;
  padding: 3% 0;
}
* body .email-body .email-container .email .footer td #p8 a {
  color: #565656;
}
* body .email-body .email-container .email .footer td #locate {
  padding-bottom: 3%;
}
* body .email-body .email-container .email .footer td #locate a {
  color: #565656;
}
* body .email-body .email-container .email .footer td #p9 {
  padding-bottom: 3%;
}
* body .email-body .email-container .email .footer td #p9 a {
  color: #565656;
}

/*# sourceMappingURL=main.css.map */
