@import SASS-MIXINS
@import variables

*
    margin: 0
    body
        .email-body
            +center(100%,0 auto)
            .email-container
                +center(640px, 0 auto)
                background: white
                .email
                    +center(100%,0 auto)
                    .view-online-row
                        td
                            padding: 0 0 0 .5%
                            a
                                +text(sans-serif,gray,0.8vw,400)
                                text-decoration-color: darkslategrey
                    .title-row 
                        td
                            padding-left: 1%
                            img
                                width: 25%
                    .menu-row 
                        td
                            border-bottom: 1px solid lightgray
                            text-align: center
                            padding: 0 0 2% 0
                            a
                                text-decoration: none
                                text-transform: uppercase
                                +text(sans-serif,grey,1.5vw,400)
                                border-right: 1px solid lightgray
                                padding: 0 2%
                            #clearance
                                border-right: none 
                                color: red
                    .home-savings-row 
                        td,a
                            padding: 1.5% 0 0 0 
                            text-decoration: none
                            #home-title
                                text-align: center
                                +text(sans-serif,white,1.4vw,700)
                                background-color: $blue
                                padding: 1% 0
                                text-transform: uppercase
                            .home-container
                                background-color: $tweenty-off-bg
                                +center(100%,0 auto)
                                padding-bottom: 3%
                                #home-coupon
                                    .left-sec
                                        width: 55%
                                        .left
                                            +center(100%,0 auto)
                                            tr,td 
                                                padding: 8% 0 0 20%
                                                h3
                                                    +text(sans-serif,$blue,1.5vw,900)
                                                h1
                                                    +text(sans-serif,$blue,8vw,900)
                                                    line-height: .8
                                                span
                                                    font-size: 3vw
                                                #promo
                                                    color: black
                                                    padding: 5% 0 0 0
                                    .right-sec
                                        width: 45%
                                        .right
                                            +center(80%,0 auto)
                                            tr,td 
                                                padding: 10% 0 0 0
                                                h6
                                                    +text(sans-serif,black,.8vw,900)
                                                    text-transform: uppercase
                                                #excludes
                                                    +text(sans-serif,black,.9vw,900)
                                                    padding: 10% 0
                                                input
                                                    +text(sans-serif,white,1vw,900)
                                                    background-color: $blue
                                                    text-transform: uppercase
                                                    border: none
                                                    padding: 6% 12%
                    .home-menu
                        +center(100%, 0 auto)  
                        td
                            padding: .3%  0 
                            a
                                text-decoration: none
                                .inside-link
                                    margin-left: -.6%
                                .outside-link
                                    margin-left: -.675%
                    .summer-row
                        td 
                            a
                                text-decoration: none
                    .appliance-row
                        td 
                            a
                                text-decoration: none
                                img 
                                    margin-top: -1%
                    .backtoschool
                        td 
                            a
                                text-decoration: none
                                img 
                                    margin-top: -1%
                    .tshirts-row
                        td 
                            a
                                text-decoration: none
                                img 
                                    margin-top: -1%
                    .jeans-row
                        td 
                            a
                                text-decoration: none
                                img 
                                    margin-top: -1%
                    .kids-row
                        td 
                            a
                                text-decoration: none
                                img 
                                    margin-top: -1%
                    .shoe-sale1
                        td 
                            a
                                text-decoration: none
                                img 
                                    margin-top: -1%
                    .shoe-sale2
                        td 
                            a
                                text-decoration: none
                                img 
                                    margin-top: -1%
                    .fine-print
                        td 
                            a
                                text-decoration: none
                                img 
                                    margin: -1% 0 -2%
                    .luggage-savings-row 
                        td,a
                            padding: 1.5% 0 0 0 
                            text-decoration: none
                            #luggage-title
                                text-align: center
                                +text(sans-serif,white,1.4vw,700)
                                background-color: $green
                                padding: 1% 0
                                text-transform: uppercase
                            .luggage-container
                                background-color: $fifty-off-bg
                                +center(100%,0 auto)
                                padding-bottom: 3%
                                #luggage-coupon
                                    .left-sec
                                        width: 55%
                                        .left
                                            +center(100%,0 auto)
                                            tr,td 
                                                padding: 8% 0 0 20%
                                                h3
                                                    +text(sans-serif,$green,1.5vw,900)
                                                h1
                                                    +text(sans-serif,$green,8vw,900)
                                                    line-height: .8
                                                span
                                                    font-size: 2vw
                                                #promo
                                                    color: black
                                                    padding: 5% 0 0 0
                                    .right-sec
                                        width: 45%
                                        .right
                                            +center(80%,0 auto)
                                            tr,td 
                                                padding: 10% 0 0 0
                                                h6
                                                    +text(sans-serif,black,.8vw,900)
                                                    text-transform: uppercase
                                                #excludes
                                                    +text(sans-serif,black,.9vw,900)
                                                    padding: 7% 0
                                                    line-height: 2
                                                input
                                                    +text(sans-serif,white,1vw,900)
                                                    background-color: $green
                                                    text-transform: uppercase
                                                    border: none
                                                    padding: 6% 12%
                    .amazon-returns
                        td
                            padding: 4% 0 0 0
                    .free-shipping
                        td 
                            a
                                text-decoration: none
                                img 
                                    +center(100%, -1% auto)
                    .app-row
                        background: $gray-bg
                    .social-media
                        background: $gray-bg
                        td 
                            padding: 1.5% 0 
                            text-align: center
                            a 
                             text-decoration: none
                             color: $social-media
                             font-size: 2vw
                             padding: 0 3.5%      
                    .footer
                        td 
                            padding: 1% 0
                            +text(sans-serif,gray,.8vw,400) 
                            #details-title
                                +text(sans-serif,gray,.8vw,700)
                                padding-left: 1%  
                            #p1
                                padding: 4% 0  4% 2% 
                                span
                                    font-weight: 700
                            #p2
                                padding: 2% 0  3% 2% 
                                font-weight: 700
                            #p3
                                padding: 0 0 4% 2% 
                                span
                                    font-weight: 700
                            #p4
                                padding: 4% 0  4% 2% 
                                span
                                    font-weight: 700
                            #p5
                                padding: 4% 0  0 2%  
                                font-weight: 700
                            #p6
                                padding: 0 0  4% 2% 
                                span
                                    font-weight: 700
                            #p7
                                padding: 4% 0  7% 2% 
                                span
                                    font-weight: 700
                            #p8
                                border-top: 1px solid gray
                                padding: 3% 0   
                                a
                                    color: $social-media
                            #locate
                                padding-bottom: 3%    
                                a
                                    color: $social-media
                            #p9
                                padding-bottom: 3%    
                                a
                                    color: $social-media
                            
