+media-min(960px)
   .email-container
        +center(960px, 0 auto)
        .view-online-row
            #view-online-td
                padding: 1% 0 0 1% !important
        .title-row
            #title-row-img
                height: 8% !important
        .menu-row-a
            font-size: 1.8vw !important
            padding: 0 4% !important
+media-max(960px)
    .email-container
        +center(641px, 0 auto)
        .view-online-row
            #view-online-td
                padding:1.5% 0 0 1% !important
                .view-online-a
                    font-size: 1.1vw !important
                #vo-span
                    font-size: 1.1vw !important
        .title-row
            #title-row-img
                height: 5% !important
        .menu-row-a
            font-size: 2vw !important
            padding: 0 3% !important
+media-max(641px)
    .email-container
        width: 100% !important
        margin: 0 auto !important
        .view-online-row
            #view-online-td
                padding: 2% 0 0 3% !important
                .view-online-a
                    font-size: 1.7vw !important
                #vo-span
                    font-size: 1.8vw !important
        .title-row
            padding-left: 0 !important
            #title-row-img
                height: 4.5% !important
        .menu-row-a
            font-size: 3vw !important